/ipch
*.opensdf
*.sdf
*.suo
*.user
*.pdb
*.pyc
/labeless_olly/*.user
/labeless_ida/*.user
/test/UDD/*.bak
/test/UDD/*.udd
/test/*.chw
/test/*.GID
/test/plugins/labeless_olly.dll
/3rdparty/protobuf-2.6.1/vsprojects/bin
/3rdparty/protobuf-2.6.1/vsprojects/Debug
/3rdparty/protobuf-2.6.1/vsprojects/Release
/3rdparty/protobuf-2.6.1/python/.eggs
/3rdparty/protobuf-2.6.1/python/build
/3rdparty/protobuf-2.6.1/python/dist
/3rdparty/protobuf-2.6.1/python/protobuf.egg-info
/test/python/.idea
/test/UDD
/labeless_ida/sdk_67
/3rdparty/thrift-0.9.2
/labeless_olly2/*.aps
/test2/errorlog.txt
/test2/OLLYDBG.plt
/test2/labeless_ollyapi/.idea
/test2/*.udd
/py/MANIFEST
/py/build
/py/.idea
/py/dist
/py/labeless.log
/.vs
/deploy/.idea
/deploy/labeless/.idea
/test_x64dbg/x32/db
/test_x64dbg/x32/plugins/labeless_x64dbg.dp32
/test_x64dbg/x32/snowman.ini
/test_x64dbg/x64/plugins/labeless_x64dbg.dp64
/test_x64dbg/x64/db
/test_x64dbg/x64/minidump
/test_x64dbg/x64/symbols
/deploy/build
*.udd
*.dmp
/deploy/MANIFEST
/deploy/README.rst
/deploy/dist
